<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

<div class="order-details-container">
  <button class="back-button" (click)="goBack()">&#8592; Back</button>

  <div *ngIf="orderDetails.length > 0">
    <h3>Order Details</h3>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let detail of orderDetails">
          <td data-label="Product Name">
            {{ detail.product_name }}
          </td>
          <td data-label="Unit Price">
            {{ detail.product_price | currency }}
          </td>
          <td data-label="Quantity">{{ detail.quantity }}</td>
          <td data-label="Total" class="td-value">
            <div class="total-value-each">
              {{ detail.product_price * detail.quantity | currency }}
            </div>
          </td>
        </tr>
      </tbody>

      <tfoot class="footer">
        <tr>
          <td colspan="3" class="total-label">Pre Total</td>
          <td class="total-value">
            {{ totalAmount / 1.05 | currency }}
          </td>
        </tr>
        <tr>
          <td colspan="3" class="total-label">Shipment</td>
          <td class="total-value">
            {{ (totalAmount / 1.05) * 0.05 | currency }}
          </td>
        </tr>
        <tr>
          <td colspan="3" class="total-label">Grand Total</td>
          <td class="total-value">
            {{ totalAmount / 1.05 + (totalAmount / 1.05) * 0.05 | currency }}
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
