<div class="product-container">
    @for (product of products; track product.id) {
    <div class="product-card" (click)="viewProductDetails(product.id)">
        <h3>{{ product.name }}</h3>
        <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image" />
        <p><strong>Wholesale Price:</strong> ${{ product.wholesalePrice }}</p>
        <p><strong>MSRP:</strong> ${{ product.msrp }}</p>

        @if (product.Certificate_Of_Analysis_Link) {
        <p>
            <strong>Certificate of Analysis:</strong>
            <a [href]="product.Certificate_Of_Analysis_Link" target="_blank">View Certificate</a>
        </p>
        }
    </div>
    }
</div>