@if(isModalOpen) {
<div class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <nav class="navigation-menu">
      <ul>
        <li class="navigation-item">
          <a class="navigation-link" (click)="navigate('')">Home</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" (click)="navigate('/products')"
            >Products</a
          >
        </li>
        <li class="navigation-item">
          <ng-container *ngIf="isLoggedIn">
            <a class="navigation-link" (click)="logOff()">Log off</a>
            <a class="navigation-link" (click)="navigate('/business-profile')"
              >Profile</a
            >
          </ng-container>
          <ng-container *ngIf="!isLoggedIn">
            <a class="navigation-link" (click)="navigate('/login')">Log in</a>
            <a class="navigation-link" (click)="navigate('/register')"
              >Register</a
            >
          </ng-container>
        </li>

        <li class="navigation-item">
          <ng-container *ngIf="isLoggedIn">
            <a class="navigation-link" (click)="navigate('/orders')">Orders</a>
          </ng-container>

          <ng-container *ngIf="!isLoggedIn">
            <a class="navigation-link" (click)="navigate('/contact')"
              >Contact</a
            >
          </ng-container>
        </li>

        <!-- Cart Icon with Badge -->
        <li class="navigation-item">
          <a class="navigation-link" (click)="navigate('/cart')">
            <span class="cart-icon">
              🛒
              <!-- Cart badge that shows the number of items in the cart -->
              <span *ngIf="cartItemCount > 0" class="cart-badge">{{
                cartItemCount
              }}</span>
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
}
