@if(isModalOpen) {
<div class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <nav class="navigation-menu">
      <ul>
        <li class="navigation-item">
          <a class="navigation-link" (click)="navigate('')">Home</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" (click)="navigate('/products')"
            >Products</a
          >
        </li>
        <li class="navigation-item">
          @if(isLoggedIn){
          <ng-container>
            <a class="navigation-link" (click)="logOff()">Log off</a>
            <a class="navigation-link" (click)="navigate('/business-profile')"
              >Profile</a
            >
          </ng-container>
          } @else{
          <a class="navigation-link" (click)="navigate('/login')">Log in</a>
          <a class="navigation-link" (click)="navigate('/register')"
            >Register</a
          >
          }
        </li>
        <li class="navigation-item">
          <a class="navigation-link" (click)="navigate('/contact')">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
}
