<div class="container">
  <h2>Upload PDF files for your Business</h2>
  <ul>
    <li>Certificate of Corporation</li>
    <li>Certificate of Sales Authority</li>
    <li>IRS EIN</li>
    <li>Any other Related Documents</li>
  </ul>

  <input type="file" (change)="onFileSelect($event)" accept="application/pdf" />
  <input
    type="text"
    [(ngModel)]="userGivenName"
    placeholder="Enter your display name"
    required
  />
  <button (click)="uploadFile()">Upload File</button>
  <!-- The update button for Requesting the Review   -->
  <div class="update-button">
    <button (click)="updateActivation()">Request Review</button>
  </div>

  <div
    *ngIf="statusMessage"
    [ngClass]="{
      message: !statusMessage.startsWith('Error'),
      error: statusMessage.startsWith('Error')
    }"
  >
    {{ statusMessage }}
  </div>

  <!-- Display fetched documents -->
  <div class="business-documents">
    <h3 class="doc-header">Submitted Business Documents</h3>
    <ul class="doc-list">
      <li class="doc-item" *ngFor="let doc of documents">
        <div class="doc-detail">
          <strong>Created At:</strong> {{ doc.created_at }}
        </div>
        <div class="doc-detail">
          <strong>Name:</strong> {{ doc.user_given_name }}
        </div>
        <div class="doc-detail">
          <strong>Status:</strong> {{ doc.document_approval }}
        </div>
      </li>
    </ul>
  </div>
</div>
