<!-- home.component.html -->

<div class="home-container">
  <!-- Shop Button -->
  <div class="shop-button-container">
    <a class="shop-button" (click)="navigate('/products')">Shop CBD Products</a>
  </div>
  <!-- Removed the main heading -->
  <p>Your go-to place for high-quality CBD products.</p>

  <!-- What We Do Section -->
  <section class="what-we-do">
    <h2>What We Do</h2>
    <p>
      At Point3 or Less, we are dedicated to providing high-quality CBD health
      and wellness products that cater to a variety of needs. Our extensive
      range of products is designed to support your health and wellness journey,
      making it easier for you to find exactly what you need.
    </p>
    <p>
      We focus on sourcing premium ingredients and ensuring the highest
      standards of quality throughout our partners' production processes. Our
      commitment to transparency and integrity means you can trust that you are
      receiving safe and effective products.
    </p>
  </section>

  <!-- Why Shop With Us Section -->
  <section class="why-shop-with-us">
    <h2>Why Shop With Us</h2>
    <ul>
      <li>
        <strong>Wholesale Pricing:</strong> We offer competitive wholesale
        pricing to ensure our partners can access high-quality CBD products at
        affordable rates. This helps you maximize your profits while providing
        your customers with the best products available.
      </li>
      <li>
        <strong>Support for Retailers:</strong> We are committed to helping
        businesses thrive. By partnering with us, you gain access to resources,
        training, and marketing support designed to help you establish and grow
        your retail presence. We believe in empowering our retailers to succeed,
        fostering a community of collaboration and shared success.
      </li>
      <li>
        <strong>Quality Assurance:</strong> Our products undergo rigorous
        testing and quality control processes, ensuring that you receive only
        the best CBD products that meet industry standards. We prioritize
        transparency, so you can trust the products you sell.
      </li>
      <li>
        <strong>Veteran Empowerment:</strong> By purchasing from us, you support
        our mission to employ and uplift veterans. Your investment helps create
        job opportunities and promotes a sense of community and purpose for
        those who have served.
      </li>
      <li>
        <strong>Wide Product Range:</strong> Our diverse selection of CBD
        products caters to various needs and preferences, ensuring you can find
        exactly what you need to serve your customers effectively.
      </li>
    </ul>
    <p>
      Join us in promoting wellness, supporting veterans, and growing your
      business. Shop with Point3 Or Lesstoday!
    </p>
  </section>

  <!-- Shop Button -->
  <div class="shop-button-container">
    <a class="shop-button" (click)="navigate('/products')">Shop CBD Products</a>
  </div>

  <!-- Age Verification Modal -->
  @if (isModalOpen) {
  <div class="modal">
    <div class="modal-content">
      <!-- <span class="close" (click)="closeModal()">&times;</span> -->
      <h2 class="">Age Verification</h2>
      <p class="modal-p">Are you 21 or over 21 years old?</p>
      <button class="modal-button-yes" (click)="verifyAge(true)">Yes</button>
      <button class="modal-button-no" (click)="verifyAge(false)">No</button>
    </div>
  </div>
  } @if (isBusinessModalOpen) {
  <div class="modal">
    <div class="modal-content">
      <!-- <span class="close" (click)="closeModal()">&times;</span> -->
      <h1 class="">Business or Individual</h1>
      <p class="modal-p">
        Are you a Business Retailer with Resellers Licenses?
      </p>
      <button class="modal-button-yes-b" (click)="askUserType(true)">
        Yes, I am a business with all Licenses.
      </button>
      <button class="modal-button-no-b" (click)="askUserType(false)">
        No, I am an Individual.
      </button>
    </div>
  </div>
  }
</div>
