<div class="address-form-container">
  <h2>Enter Your Address</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="street">Street</label>
    <input
      id="street"
      [(ngModel)]="street"
      name="street"
      placeholder="123 Main St"
      required
    />

    @if (street.trim() === '') {
    <div class="error">
      <small>Street is required.</small>
    </div>
    }

    <label for="city">City</label>
    <input
      id="city"
      [(ngModel)]="city"
      name="city"
      placeholder="City"
      required
    />

    @if (city.trim() === '') {
    <div class="error">
      <small>City is required.</small>
    </div>
    }

    <label for="state">State</label>
    <input
      id="state"
      [(ngModel)]="state"
      name="state"
      placeholder="State"
      required
      maxlength="2"
    />

    @if (state.trim() === '') {
    <div class="error">
      <small>State is required.</small>
    </div>
    } @if (isStateInvalid() && state.trim() !== '') {
    <div class="error">
      <small
        >State must contain only letters and be at most 2 characters.</small
      >
    </div>
    }

    <label for="zip">Zip Code</label>
    <input
      id="zip"
      [(ngModel)]="postalCode"
      name="zip"
      placeholder="Zip Code"
      maxlength="5"
      required
    />

    @if (postalCode.trim() === '') {
    <div class="error">
      <small>Zip code is required.</small>
    </div>
    }

    <label for="phone">Phone Number</label>
    <input
      id="phone"
      [(ngModel)]="phoneNumber"
      name="phone"
      placeholder="Phone Number"
      required
      maxlength="10"
      pattern="[0-9]*"
      inputmode="numeric"
    />

    @if (phoneNumber.trim() === '') {
    <div class="error">
      <small>Phone number is required.</small>
    </div>
    } @if (isPhoneNumberInvalid() && phoneNumber.trim() !== '') {
    <div class="error">
      <small>Phone number must be 10 digits.</small>
    </div>
    }

    <button type="submit">Next</button>
  </form>
</div>
